#optional
TEXT_EMBED_MODEL=intfloat/multilingual-e5-base
CLIP_MODEL=openai/clip-vit-base-patch32
CHROMA_PATH=data/chroma
STREAMLIT_PORT=8501
#necessary (one of, if both provided uses google api by default)
GOOGLE_AI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
#-- or --
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
